@using ConstructionLK.Models
@using Microsoft.AspNet.Identity
<style>
    img {
        width: 30px;
        height: 30px;
    }
</style>
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img src="~/Resources/Icons/profile.png" />&nbsp;<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", null, null, null,null)</li>
                    @*<li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", new { area = "" }, htmlAttributes: new { title = "Manage" })</li>*@
                    <li>@Html.ActionLink("Account", "Edit", "UserSelector", new { area = "",user = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })</li>
                    @if (User.IsInRole(RoleName.ServiceProvider))
                    {
                        <li class="divider"></li>
                        <li>@Html.ActionLink("My Products and Services", "MyProducts", "Items", new { user = User.Identity.GetUserId() }, null)</li>
                    }
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Profile", "UserProfile", "UserSelector", new { area = "" }, null)</li>
                </ul>
            </li>
            @*<li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
            </li>*@
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register Now", "Index", "UserSelector", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        @*<li>@Html.ActionLink("Register as Customer", "Create", "Customers", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Register as Cooparate Entity", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Register as Freelancer", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
