    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("ConstructionLK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--NavigationLinks-->

                <li>@Html.ActionLink("About", "About", "Home", new { area = "" },null)</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" },null)</li>
                <li>@Html.ActionLink("Services", "Index", "Items", new { area = "", id = 2 },null)</li>
                <li>@Html.ActionLink("Products", "Index", "Items", new { area = "", id = 1 }, null)</li>
                <li>@Html.ActionLink("Blog", "Index", "BlogPosts", new { area = "" }, null)</li>

            </ul>
            @*<form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>*@
            @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
