@using ConstructionLK.Models
@model IEnumerable<ConstructionLK.Models.AdministrativeStaff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Administrators</h2>

@if (!Model.Any())
{
    <p>We don't have any administrators yet.</p>
}
else
{
    <table id="admin" class="table table-bordered table-hover">
        <thead>
            <tr class="danger">
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var admin in Model)
            {
                <tr>
                    <td>@Html.ActionLink(admin.FirstName +" "+ admin.LastName, "Details", "AdministrativeStaff", new { id = admin.Id }, null)</td>
                    <td>@admin.AspNetUser.Email</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = admin.Id }, new { @class = "btn btn-outline-primary btn-sm" }) |
                        @Html.ActionLink("Details", "Details", new { id = admin.Id }, new { @class = "btn btn-outline-primary btn-sm" }) |
                        @if (User.IsInRole(RoleName.CanManageAll))
                        {
                            @Html.ActionLink("Review and Delete", "Delete", new { id = admin.Id }, new { @class = "btn btn-outline-warning btn-sm" })
                            <button data-admin-id="@admin.Id" class="btn btn-outline-warning btn-sm js-delete">Delete Now</button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#admin").DataTable();
            $("#admin").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure?", function(result)
                {
                    if (result) {
                        $.ajax({
                            url: "/api/administrativestaff/" + button.attr("data-admin-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                ;
                            }
                        });
                    }
                });
            });
        });
    </script>
}
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@
