@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@model ConstructionLK.Models.Customer

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}
<div class="well"><h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2></div>
<div class="col-md-3">
    <p>
        <span class="label label-warning">Customer</span>
        <span class="label label-info">Member since @Html.Label(Model.CreatedDate.ToString("Y"))</span>
    </p>

    


    <ul class="list-group">
        <li class="list-group-item">
            <strong>
                @Html.DisplayNameFor(model => model.Username)
            </strong>
            |@Html.DisplayFor(model => model.Username)
        </li>
        <li class="list-group-item">
            <strong>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </strong>
            |@Html.DisplayFor(model => model.DateOfBirth)
        </li>
        <li class="list-group-item">
            Last Modified On | @Html.Label(Model.ModifiedDate.ToString("Y"))
        </li>
        <li class="list-group-item">
            <strong>
                @Html.DisplayNameFor(model => model.Address)
            </strong>
            |@Html.DisplayFor(model => model.Address)
        </li>
    </ul>
</div>
<div class="col-md-9">@Html.ActionLink("My requests", "UserIndex", "ItemRequests", new { id = Model.Id }, new { @class = "btn btn-primary btn-xs" })
<hr /></div>
