@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@model ConstructionLK.Models.ServiceProvider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

    <div>
        @if ((Model.Avatar == null))
        {
            <img src="~/Resources/ProfilePicturesSP/Default.png" alt="Profile Picture" height="200" width="200" align="right" />
        }

        @if (!(Model.Avatar == null))
        {
            <img src=@Url.Content(Model.Avatar) alt="Profile Picture" height="200" width="200" align="right" />
        }

    </div>
</div>
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>New Requests!</h4><strong>
        Access them now. @Html.ActionLink("Click Here", "MyRequests", "ItemRequests", new { user = User.Identity.GetUserId() }, null)
    </strong>
</div>
<div>
    <span class="label label-warning">Service Provider</span>
    <span class="label label-primary">Individual</span>
    <span class="label label-info">Member since @Html.Label(Model.CreatedDate.Value.ToString("y"))</span>
    <hr />
    @if (Model.TypeId == 3)
    {
        @Html.ActionLink("Make Complaint", "Create", "Complains", new { user = Model.AspNetUser.Id }, new { @class = "btn btn-primary btn-xs" })
    }

    @if (Model.ApplicationUserId == User.Identity.GetUserId())
    {
        @Html.ActionLink("New Post", "Create", "BlogPosts", new { user = User.Identity.GetUserId() }, null)
        <strong>&nbsp;|&nbsp;</strong>
        @Html.ActionLink("New Item", "Create", "Items", new { user = User.Identity.GetUserId() }, null)

    }
    @if (!(Model.ApplicationUserId == User.Identity.GetUserId()))
    {
        @Html.ActionLink("View Available Items", "Index", "Items", new { user = Model.AspNetUser.Id }, new { @class = "btn btn-primary btn-xs" })
    }
</div>
<div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>
                @Html.DisplayName("E-Mail")
            </strong>
            |@Html.DisplayFor(model => model.Username)
        </li>
        <li class="list-group-item">
            <strong>
                @Html.DisplayName("Near by Town")
            </strong>
            |@Html.DisplayFor(model => model.BasedCity)
        </li>
        <li class="list-group-item">
            <strong>
                @Html.DisplayName("Postal Address")
            </strong>
            |@Html.DisplayFor(model => model.MailingAddress)
        </li>

        <li class="list-group-item">

            @if (Model.ApplicationUserId == User.Identity.GetUserId())
            {
                <strong>
                    @Html.DisplayName("Our Bio")
                </strong>
            }
            @if (!(Model.ApplicationUserId == User.Identity.GetUserId()))
            {
                <strong>
                    @Html.DisplayName("Service Provider Bio")
                </strong>
            }
            |@Html.DisplayFor(model => model.Bio)
        </li>
        <li class="list-group-item">
            <strong>
                @Html.DisplayNameFor(model => model.Telephone)
            </strong>

            |@Html.DisplayFor(model => model.Telephone)
        </li>
        <li class="list-group-item">
            <strong>
                @Html.DisplayNameFor(model => model.FirstName)
            </strong>

            |@Html.DisplayFor(model => model.FirstName)
        </li>
        <li class="list-group-item">
            <strong>
                @Html.DisplayNameFor(model => model.LastName)
            </strong>

            |@Html.DisplayFor(model => model.LastName)
        </li>
        <li class="list-group-item">
            <strong>
                @Html.DisplayName("Since when?")
            </strong>

            |@Html.DisplayFor(model => model.StartedDate)
        </li>
        <li class="list-group-item">
            <strong>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </strong>

            |@Html.DisplayNameFor(model => model.DateOfBirth)
        </li>
        <li class="list-group-item">
            <strong>
                @Html.DisplayNameFor(model => model.Status.Name)
            </strong>

            |@Html.DisplayNameFor(model => model.Status.Name)
        </li>
        @*show ratings*@
        @*<li class="list-group-item">
                <strong>
                    Ratings
                </strong>
                @Html.Partial("_LoginPartial")

            </li>*@
        <li class="list-group-item">
            Last Modified On | @Html.LabelFor(model => model.ModifiedDate)
        </li>
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
