@model ConstructionLK.Models.Complain
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Feedback</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>
            We value your feedback and welcome any comments you may have to help improve our programs and services.<br /><br />Please offer your feedback to our staff through our Answer-line service at +94 XXX XXX XXX.<br /> Branch or Answer-line staff will try to meet your needs as quickly as possible.
        </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.ComplainBody, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ComplainBody, new { @class = "form-control", rows = "10" })
                        @Html.ValidationMessageFor(model => model.ComplainBody, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.ComplainedAbout, new { @Value = ViewBag.providerid })
                @Html.HiddenFor(model => model.ActionId, new { @Value = 2 })
                @Html.HiddenFor(model => model.ComplainedBy, new { @Value = User.Identity.GetUserId() })
                @Html.HiddenFor(model => model.ComplainedDate, new { @Value = System.DateTime.Now })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Send complain" class="btn btn-info" />
                    </div>
                </div>
                </div>
            </div>
            </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
