@model IEnumerable<ConstructionLK.Models.Complain>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Complains</h2>
<table id="complains" class="table table-bordered table-hover">
    <thead>
        <tr class="warning">
            <th>Complain is for</th>
            <th>Complained date and time</th>
            <th>Complain</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.AspNetUser.Email, "DetailsById", "ServiceProviders", new { user = item.AspNetUser.Id }, null)</td>
                @*<td>@item.ComplainAction.Action</td>*@
                <td>@item.ComplainedDate.ToString("yyyy MMMM dd | HH:mm")</td>
                <td>@item.ComplainBody</td>
                <td>
                    @Html.ActionLink("Mark as 'Handled'", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" }) |
                    @Html.ActionLink("Review and Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#complains").DataTable();
        });
    </script>
}
